@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdn.syncfusion.com/ej2/material.css");
body {
  font-family: "Montserrat", sans-serif;
  color: #000;
  font-size: 16px;
}

h1 {
  font-size: 32px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
}
a {
  color: #e100ff;
}
p,
ul {
  font-size: 16px;
}
ul {
  margin: 0px;
  padding: 0px;
}
li {
  list-style: none;
}

.bg-black {
  background: rgb(0 0 0 / 50%);
}

.header-menu a {
  font-size: 22px;
}

nav.navbar.navbar-light.bg-black .nav-link {
  color: #fff;
  font-weight: 600;
  border: 2px solid transparent;
  margin: 0px 25px;
  padding: 0px;
}

nav.navbar.navbar-light.bg-black .login.nav-link {
  border-radius: 5px;
  border: 1px solid #fff;
  padding: 3px 15px;
}

nav.navbar.navbar-light.bg-black .nav-link:hover {
  color: #e100ff;
  border-bottom: 2px solid #e100ff;
}

nav.navbar.navbar-light.bg-black .login.nav-link:hover {
  border: 1px solid #e100ff;
  background: #e100ff;
  color: #fff;
}
.banner {
  background: url("./images/banner.png") no-repeat center top;
  background-size: cover;
  min-height: 768px;
  position: relative;
}
.banner-center {
  width: 100%;
}

.banner-text a {
  background: transparent
    linear-gradient(
      180deg,
      var(--unnamed-color-7f00ff) 0%,
      var(--unnamed-color-e100ff) 100%
    )
    0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #7f00ff 0%, #e100ff 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0px 3px 10px #ca00ff4f;
  border-radius: 11px;
  padding: 15px 35px;
  font-size: 32px;
  color: #fff;
  font-weight: 600;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  line-height: 32px;
}
.banner-text a:hover {
  background: transparent linear-gradient(180deg, #e100ff 0%, #7f00ff 100%) 0%
    0% no-repeat padding-box;
}

.banner-text a span {
  display: block;
  font-size: 24px;
  font-weight: normal;
}

.banner-text h1 {
  color: #fff;
  font-size: 24px;
}

.banner:before {
  content: "";
  position: absolute;
  width: 50%;
  height: 90%;
  right: 0px;
  top: 0px;
  background: url("./images/banner-img.png") no-repeat right top;
  background-size: contain;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-black.fixed-top {
  padding: 20px 0px;
}

.restomer {
  background: transparent linear-gradient(278deg, #7f00ff 0%, #e100ff 100%) 0%
    0% no-repeat padding-box;
  border: 1px solid #707070;
  text-align: center;
  font-size: 24px;
}

.restomer p {
  margin: 0px;
  font-size: 32px;
  color: #fff;
}

.restomer p a {
  font-weight: bold;
  color: #171719;
}
.latest-review {
  background: url("./images/bg-top.png") no-repeat center top;
  background-size: cover;
}
.reviews {
  color: #fff;
  font-weight: normal;
  border-left: 5px solid #7f00ff;
  padding: 5px 0px 5px 15px;
}
.avtar img {
  margin-right: 15px;
  border-radius: 100%;
  border: 2px solid #707070;
}
.avatar-text {
  overflow: hidden;
}

.avtar {
  align-items: center;
}

.avatar-text h3 {
  color: #fff;
}
.latest-review {
  color: #fff;
}

.latest-review .slick-prev,
.fresh .slick-prev {
  position: absolute;
  bottom: -50px;
  top: auto;
  right: 115px;
  left: auto;
}
.openDialog {
  position: relative;
  width: 100%;
}

.openDialog Dialog {
  width: 100%;
}

Dialog .HighlightOffIco {
  position: absolute;
  top: 0%;
  left: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: transparent;
  color: black;
  font-size: 25px;
  padding: 12px 24px;
  border: none;
  border-color: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
.seeAllImage {
  position: relative;
  width: 100%;
}

.seeAllImage img {
  width: 100%;
  opacity: 0.5;
}

.seeAllImage .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: transparent;
  color: white;
  font-size: 25px;
  padding: 12px 24px;
  border: none;
  border-color: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.latest-review .slick-next,
.fresh .slick-next {
  position: absolute;
  bottom: -50px;
  top: auto;
  right: 85px;
}
.how-it-work {
  background: url("./images/banner.png") no-repeat center top;
  background-size: cover;
}
.how-it-box {
  background: url("./images/mobile.png") no-repeat center top;
  min-height: 518px;
  background-size: contain;
  position: relative;
}
.text-how {
  width: 100%;
  text-align: center;
}
.how-it-box {
  padding: 20px 40px;
}
.how-it-box a {
  text-align: center;
  display: block;
  font-size: 20px;
  color: #000;
  font-weight: 600;
  text-decoration: none;
  position: absolute;
  left: 0;
  bottom: 74px;
  width: 100%;
  padding: 0px 48px;
}

.how-it-box a:hover {
  color: #e100ff;
}
img {
  max-width: 100%;
}
.upimg {
  margin-top: -80px;
}
.reviews .btn-outline-primary {
  border-color: #fff;
  color: #fff;
  width: 200px;
  font-size: 24px;
}
.slick-slide .text-how img {
    display: inline-block;
}
.reviews .btn-outline-primary:hover {
  border-color: #007bff;
}
.featured-box {
  text-align: center;
}

.featured-box img {
  display: inline-block;
}

.featured-box img {
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.featured-box {
  padding: 5px 15px;
}

.featured-slider .slick-slide:nth-child(2) img {
  height: 390px;
  margin-top: 34px;
}

.featured-slider .slick-slide:nth-child(3) img {
  margin-top: 20px;
  min-height: 415px;
}

.featured-slider .slick-slide:nth-child(4) img {
  height: 450px;
}
.featured-slider .slick-slide:nth-child(1) img {
  height: 358px;
  margin-top: 48px;
}
.fresh {
  background: url("./images/bg-bottom.png") no-repeat center bottom;
  background-size: cover;
}

.featured-box {
  position: relative;
}

.featured-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  z-index: 2;
  color: #fff;
}

.featured-overlay h5 {
  font-size: 24px;
  margin-bottom: 0px;
}

.featured-overlay p {
  font-size: 14px;
  font-weight: 600;
}

.featured-box:after {
  content: "";
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 15px;
  width: 92%;
  height: 100%;
  background-image: linear-gradient(
    -180deg,
    rgba(0, 0, 0, 0) 15%,
    rgba(0, 0, 0, 0.75) 60%
  );
  background-size: cover;
  right: 15px;
  bottom: 5px;
}

.footer-bg {
  background: #171719;
}

.footer-bg p {
  color: rgb(255 255 255 / 46%);
  margin-bottom: 0px;
}

.footer-text h5 {
  font-size: 24px;
  color: #ba6aba;
}

.footer-text ul li a {
  color: rgb(255 255 255 / 46%);
  text-transform: uppercase;
}

.footer-text ul li .nav-link {
  padding: 5px 0px;
}

.footer-text ul.contact-icon li {
  display: inline-block;
  padding: 5px;
}

.footer-text ul.contact-icon li a {
  display: block;
  text-align: center;
  width: 50px;
  height: 50px;
  line-height: 39px;
  font-size: 24px;
  border: 2px solid #fff;
  border-radius: 100%;
  color: #fff;
}

.footer-text ul.contact-icon li a:hover {
  background: #ba6aba;
  border-color: #ba6aba;
  color: #fff;
}
.footer-text ul li .nav-link:hover {
  color: #ba6aba;
}
.copyright {
  text-align: center;
  background: #140014;
  color: rgb(255 255 255 / 47%);
  padding: 5px 0px;
}
/* ===========================Login form start================================= */
.login-box {
  width: 25%;
  margin: auto;
}
.login-bg {
  background: url("./images/login-new.jpg") no-repeat center top;
  background-size: cover;
  padding: 150px 0px;
  background-attachment: fixed;
  min-height: 100vh;
}
.login-color h1 {
  color: #e100ff;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
}

.login-color h1 {
  color: #e100ff;
  text-align: center;
  font-size: 48px;
  font-weight: 400;
}

.login-color .form-control {
  background: rgb(0 0 0 / 35%) 0% 0% no-repeat padding-box;
  border: 1px solid #e100ff;
  border-radius: 100px;
  height: 50px;
  color: #e100ff !important;
}
.login-color .form-control::-webkit-input-placeholder {
  background: rgb(0 0 0 / 35%) 0% 0% no-repeat padding-box;
  color: #e100ff !important;
}
.login-color .form-control::placeholder {
  color: #e100ff !important;
}
.btn-submit {
  background: #e100ff;
  width: 100%;
  font-size: 24px;
  color: #fff;
  border-radius: 3px;
  text-transform: uppercase;
}

.btn-submit:disabled {
  color: #fff;
}
.account {
  color: #fff;
}
a:hover {
  color: #dc49f0;
}

.login-icon {
  position: relative;
}


.login-icon span {
  position: absolute;
  top: 0px;
  right: 20px;
  top: 10px;
  color: #e100ff;
}

.login-color p {
  text-align: center;
  color: #fff;
}

.opt-box:first-child div {
  text-align: center;
}

.optbox input {
  width: 50px !important;
  height: 50px;
  outline: none;
  background: transparent;
  border: 2px solid #e100ff;
  color: #e100ff;
  font-size: 32px;
  border-radius: 5px;
}

.opt-box {
  color: #e100ff;
}

.opt-box div:first-child {
  justify-content: center;
}

.optbox input:focus {
  outline: none;
}
.signup-tabs ul li {
  position: relative;
}

.signup-tabs {
  background: rgb(0 0 0 / 35%) 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  color: #fff;
}

.signup-tabs ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.signup-tabs ul li input[type="radio"] {
  position: absolute;
  visibility: hidden;
}

.signup-tabs ul li label {
  display: block;
  position: relative;
  font-size: 24px;

  padding: 15px 15px 15px 36px;

  margin: 0px;
  z-index: 9;
  cursor: pointer;
}

.signup-tabs ul li:hover label {
  color: #ffffff;
}

.signup-tabs ul li .check {
  display: block;
  position: absolute;
  border: 2px solid #aaaaaa;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 21px;
  left: 0px;
  z-index: 5;
  transition: border 0.25s linear;
  -webkit-transition: border 0.25s linear;
}

.signup-tabs ul li:hover .check {
  border: 2px solid #ffffff;
}

.signup-tabs ul li .check::before {
  display: block;
  position: absolute;
  content: "";
  border-radius: 100%;
  height: 15px;
  width: 15px;
  top: 3px;
  left: 3px;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}

.signup-tabs ul li input[type="radio"]:checked ~ .check {
  border: 2px solid #e100ff;
}

.signup-tabs ul li input[type="radio"]:checked ~ .check::before {
  background: #e100ff;
}

.signup-tabs ul li input[type="radio"]:checked ~ label {
  color: #e100ff;
}

.login-bg.account {
  padding: 98px 0px;
}
.login-color h1 span {
  display: inline-block;
  margin-left: 15px;
}
/* ==============================user dashboard css start============================= */

nav.user-breadcrumb .breadcrumb {
  background: transparent;
}

nav.user-breadcrumb .breadcrumb .breadcrumb-item.active {
  color: #fff;
}

nav.user-breadcrumb .breadcrumb .breadcrumb-item:before {
  color: #fff;
}
.login-bg.user-dashboard {
  padding: 98px 0px;
}

.avatar-wrapper {
  position: relative;
}

.edit-user {
  position: absolute;
  top: 0px;
  right: 0px;
}

.edit-user .file-upload {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0px;
  opacity: 0;
  cursor: pointer;
  text-indent: -5000px;
}

.edit-user span {
  display: inline-block;
  position: relative;
  width: 30px;
  background: rgb(59 59 59 / 66%);
  text-align: center;
  height: 30px;
  color: #fff;
  cursor: pointer;
}
.upload-button {
  overflow: hidden;
  background: #e4e4e4;
}

.btn-delet {
  width: 100%;
  background: #707070;
  border-radius: 0px;
  color: #ffffff;
}

.btn-delet:hover {
  background: #e100ff;
  color: #fff;
}

.edit-personal {
  margin-top: 5px;
  background: #fff;
  min-height: 250px;
}

.edit-personal ul li {
    display: table;
    width: 100%;
}


nav.navbar.navbar-light.bg-black .login {
    border-radius: 5px;
    border: 1px solid #fff;
    padding: 3px 15px;
}
.edit-personal ul li a.dropdown-toggle:after {
    float: right;
    top: 8px;
    position: relative;
}


.edit-personal ul li a:not([href]):not([class]) {
    color: #707070;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #333;
    display: block;
}
.edit-personal ul li a {
  color: #707070;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #333;
  display: block;
}

.edit-personal ul li .dropdown-menu {
  margin: 0px;
  padding: 0px;
  border-radius: 0px;
  box-shadow: none;
  border: 0px;
  width: 100%;
  transform: none !important;
  top: 100% !important;
  position: relative !important;
}

.edit-personal ul li a:hover {
  background: #dc49f0;
  color: #fff;
  text-decoration: none;
}
.edit-personal ul li .active {
  background: #dc49f0;
  color: #fff;
}

.profile-box {
  background: rgb(225 0 255 / 24%);
  padding: 15px;
}

.profile-box h2 {
  color: #fff;
  font-weight: 400;
}

.main-user {
  color: #fff;
  margin-top: 25px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.main-user span {
  display: block;
}

.main-user span i {
  margin-right: 5px;
}

.user-tabs-main {
  border-radius: 5px;
  background: #e100ff;
  padding: 15px 10px;
  margin-top: 5px;
  position: relative;
  z-index: 1;
}

.user-tabs ul {
  border-bottom: 1px solid #000;
  padding: 0px 15px;
}

.user-tabs ul li {
  display: inline-block;
  margin-bottom: -1px;
}

.user-tabs ul li a {
  color: #1a1414;
  font-weight: 600;
  padding: 0.5rem 2.9rem;
  display: block;
  border-bottom: 2px solid transparent;
  transition: all 0.5s ease;
  text-decoration: none;
}

.user-tabs ul li a span {
  width: 15px;
  height: 15px;
  background: #fff;
  display: inline-block;
  text-align: center;
  border-radius: 100%;
  font-size: 11px;
  color: #707070;
}

.edit-profilebox {
  padding: 15px;
  background: #fff;
  margin-top: -4px;
  border-radius: 0px 0px 5px 5px;
  position: relative;
  height: 340;
}

.userdiv {
  background: #fff;
  border-radius: 5px;
}

.active-user {
  border-bottom: 2px solid #ffff !important;
  color: #fff !important;
}
.user-tabs ul li a:hover {
  border-bottom: 2px solid #ffff;
  color: #fff;
}

.btn-primary {
  color: #fff;
  background-color: #e100ff;
  border-color: #e100ff;
}
.btn-primary:hover {
  color: #fff;
  background-color: #bc05d5;
  border-color: #bc05d5;
}
.uppercase {
  text-transform: uppercase;
}

.cardbox {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 9px 21px #2c27383d;
  border-radius: 24px;
  overflow: hidden;
}

.cardbox img {
  border-radius: 24px;
}

.timebox {
  padding: 15px;
}

.timebox h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  color: #171719;
  margin-bottom: 0px;
}
.timebox h3 span {
  font-size: 18px;
  font-weight: 500;
  color: #707070;
}

.timebox h3 span i {
  color: #03285a;
  margin-right: 5px;
}

.timebox ul li {
  display: block;

  margin-top: 5px;
  color: #e100ff;
}

.timebox ul li i {
  margin-right: 5px;
}

.btn-fem {
  margin-top: 33px;
}
.btn-danger {
  background: #ff3636;
  border-color: #ff3636;
}

.userdiv a {
  width: 120px;
}
.timebox p {
  margin-bottom: 5px;
}
/* ===================================chat css ===================================== */

.chat-title {
  display: block;
  border-bottom: 2px solid #e100ff;
  padding-bottom: 10px;
}

.user-icon {
  width: 30px;
  background: #e100ff;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: #fff;
  border-radius: 30px;
  margin-right: 10px;
  float: left;
  font-size: 18px;
  font-weight: bold;
}

.chat-text {
  overflow: hidden;
  line-height: 19px;
}

.chat-text h5 {
  margin-bottom: 0px;
}

.chat-text span {
  color: #098a00;
  font-size: 12px;
  font-weight: 600;
}
.user-chat-side {
  display: flex;
  width: 100%;
  align-items: center;
}

.edit-personal ul li a.active .user-chat-side .user-icon {
  background: #fff;
  color: #e100ff;
}

.leftside-chat {
  display: flex;
  align-items: center;
}

.chatbox {
  max-width: 75%;

  padding: 10px 15px;
  border-radius: 15px;
}
.gray {
  background: #f6f6f6;
}
.puple {
  background: #e100ff;
  color: #fff;
}

.chat-input {
  position: relative;
}

.chat-input textarea.form-control {
  height: 50px;
  border: 0px;
  resize: none;
  padding-right: 51px;
  border: 1px solid #e100ff;
  border-radius: 30px;
  outline: none;
  padding: 12px;
}

.chat-input button {
  position: absolute;
  right: 25px;
  top: 11px;
  background: transparent !important;
  color: #e100ff !important;
  border: 0px;
  padding: 0px;
  font-size: 20px;
  outline: none !important;
}

.chat-input button:focus {
  outline: none !important;
  box-shadow: none !important;
}

ul.gender li {
  display: inline-block;
  padding-right: 15px;
}

.gender li [type="radio"]:checked,
.gender li [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
.gender li [type="radio"]:checked + label,
.gender li [type="radio"]:not(:checked) + label {
  position: relative;
  /* padding-left: 28px; */
  cursor: pointer;
  line-height: 28px;
  display: inline-block;
}
.gender li [type="radio"]:checked + label:before,
.gender li [type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  font-family: Flaticon;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  display: none;
  /* border: 1px solid #ddd; */
  /* border-radius: 100%; */
  /* background: #fff; */
}
.gender li [type="radio"]:checked + label:after,
.gender li [type="radio"]:not(:checked) + label:after {
  content: "";
  width: 12px;
  height: 12px;
  background: #e100ff;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: none;
}
.gender li [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.gender li [type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.gender li [type="radio"]:checked + label {
  color: #e100ff;
}
label {
  font-weight: 600;
}
ul.gender li label {
  margin: 0px;
  font-weight: normal;
}

ul.gender li label i {
  font-size: 18px;
  margin-right: 5px;
}

.bust span {
  margin-right: 10px;
}

.uploadimgae-title {
  border-bottom: 3px solid #e100ff;
  color: #707070;
  margin-bottom: 15px;
}

.uploadimgae-title h3 span {
  font-weight: normal;
  font-size: 16px;
}
.uploadimgrdiv {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 5px;
}

.uploadimgrdiv {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 5px;
}

.uploadboxnew {
  text-align: center;
  padding: 15px;
  font-size: 18px;
  border-radius: 5px;
  border: 2px dashed #2196f3;
  background: #f2f2f2;
  color: #2196f3;
  position: relative;
}

.uploadboxnew i {
  font-size: 32px;
}

.uploadboxnew button {
  background: #2196f3;
  color: #fff;
  border: 0px;
  border-radius: 5px;
  padding: 5px 15px;
}

.uploadboxnew span {
  display: block;
  margin-bottom: 5px;
}

.uploadboxnew .form-control {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.dsd {
  box-shadow: 0px 0px 5px #ccc;
  padding: 15px;
  background: #f2f2f2;
  border-radius: 5px;
}

.uploadimg-arry {
  width: 98px;
  float: left;
  margin-right: 10px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  position: relative;
}
.uploadimg-arry:last-child {
    margin-right: 0px;
}

.form-group.multi-preview {
  display: table;
}

.uploadimg-arry img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.uploadimg-arry span {
  position: absolute;
  right: 3px;
  top: 3px;
  background: #000000c7;
  width: 15px;
  height: 15px;
  color: #fff;
  border-radius: 3px;
  font-size: 10px;
  text-align: center;
  line-height: 15px;
  cursor: pointer;
}

.onlineiuser {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.onlineiuser label {
  font-size: 18px;
  font-weight: normal;
  vertical-align: middle;
}
.custom-switch .custom-control-label::after {
  background-color: #007e00;
}
.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #007e00;
  background-color: #007e00;
}
.onlineiuser span {
  text-align: right;
}

.calltabs li a {
  width: auto;
  border-radius: 5px;
  border: 3px solid #b4b4b4;
  color: #e100ff;
  box-shadow: 0px 4px 8px #2c27380a;
  display: block;
  padding: 5px;
  text-decoration: none;
}

.calltabs li {
  display: inline-block;
  width: 50%;
  text-align: center;
  padding: 0px 5px;
}

.calltabs li a.call-active {
  background: #e100ff;
  color: #fff;
  border-color: #e100ff;
}

.calltabs li a:hover {
  background: #e100ff;
  color: #fff;
  border-color: #e100ff;
}

.call-rate-box h3 {
  font-size: 18px;
  border-bottom: 3px solid #e100ff;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #707070;
}

.out-call-shots {
  border-bottom: 3px solid #e100ff;
  padding-bottom: 10px;
}

.out-call-shots ul li {
  display: inline-block;
  width: 33%;
  padding: 0px 10px;
  cursor: pointer;
  font-weight: 500;
  color: #707070;
}

.out-call-show-shots ul:nth-child(odd) {
  background: #f9f9f9;
}

.out-call-show-shots li {
  width: 33%;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #e100ff;
}
.add-btn-fa {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 100%;
  border: 2px solid #e100ff;
  line-height: 30px;
  color: #e100ff;
  cursor: pointer;
}

.add-btn-fa:hover {
  background: #e100ff;
  color: #fff;
}

.out-call-show-shots li span {
  background: rgb(61 61 61 / 6%);
  color: #ff2323;
  display: inline-block;
  padding: 5px;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 5px;
  line-height: 21px;
  cursor: pointer;
  margin-left: 15px;
}

.out-call-show-shots li span:hover {
  background: #e100ff;
  color: #fff;
}

.dollorbox {
  position: relative;
}

.dollorbox span {
  position: absolute;
  top: 7px;
  left: 15px;
  color: #3d3d3dab;
}

.dollorbox .form-control {
  padding-left: 25px;
}
.form-control.form-file {
  height: auto;
}

.timebox ol {
  padding: 0px;
  margin: 10px 0px 0px;
}

.timebox ol li a {
  width: auto;
  text-decoration: none;
}

.timebox ol li a i {
  margin-right: 5px;
  color: #b4b4b4;
}
.boxshow {
  box-shadow: 0px 9px 21px #2c27383d;
  border-radius: 24px;
  text-align: center;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
}

.boxshow img {
  height: 200px;
}

.nedbooking {
  text-align: right;
}
.btn-fem button {
  text-transform: uppercase;
  margin-left: 5px;
}
.timebox ol li {
  white-space: nowrap;
  padding: 3px 0px;
}

.nedbooking h4 {
  color: #e100ff;
  margin-top: 5px;
  font-weight: 500;
}

.chartbox {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 16px #0a4b6d2e;
  border: 1px solid #a5c9ff;
  border-radius: 7px;
  padding: 15px;
}
.newbooking .dropdown {
  position: absolute;
  right: 0;
  top: -5px;
  z-index: 1;
}

.newbooking .dropdown a {
  display: block;
  width: auto;
  border-bottom: 1px solid #ccc;
}

.newbooking .dropdown a:last-child {
  border-bottom: 0px;
}

/* .newdivag .user-tabs ul li a {
  padding: 0.5rem 1rem;
} */
.dashboard-angncy h3 {
  color: #171719;
  font-size: 18px;
}
thead.mdb-dataTable-head tr th {
  color: #e100ff;
}
thead.mdb-dataTable-head tr {
  background: #f9f9f9;
}

.tablebox {
  background: #fff;
}

.btn-active {
  background: #ff7285;
  color: #fff;
}
.delete {
  background: #ff7285;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  margin-right: 6px;
}

.edit {
  background: #3ee463;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}

.edit:hover {
  color: #fff;
  background: #1aa238;
}

.delete:hover {
  background: #d56170;
  color: #fff;
}
.edit-profilebox table tr th {
  font-size: 14px;
  padding: 10px 5px;
}

.edit-profilebox table tr td {
  font-size: 14px;
  vertical-align: middle;
  padding: 10px 5px;
}

.newdivag {
  position: relative;
}

.btn-postion {
  position: absolute;
  top: 10px;
  z-index: 1;
  right: 15px;
}

table.mdb-dataTable thead .sorting:before,
table.mdb-dataTable thead .sorting_asc:before,
table.mdb-dataTable thead .sorting_desc:before,
table.mdb-dataTable thead .sorting_asc_disabled:before,
table.mdb-dataTable thead .sorting_desc_disabled:before,
table thead.mdb-dataTable-head .sorting:before,
table thead.mdb-dataTable-head .sorting_asc:before,
table thead.mdb-dataTable-head .sorting_desc:before,
table thead.mdb-dataTable-head .sorting_asc_disabled:before,
table thead.mdb-dataTable-head .sorting_desc_disabled:before {
  left: -0.8rem !important;
}

table.mdb-dataTable thead .sorting:before,
table.mdb-dataTable thead .sorting:after,
table.mdb-dataTable thead .sorting_asc:before,
table.mdb-dataTable thead .sorting_asc:after,
table.mdb-dataTable thead .sorting_desc:before,
table.mdb-dataTable thead .sorting_desc:after,
table.mdb-dataTable thead .sorting_asc_disabled:before,
table.mdb-dataTable thead .sorting_asc_disabled:after,
table.mdb-dataTable thead .sorting_desc_disabled:before,
table.mdb-dataTable thead .sorting_desc_disabled:after,
table thead.mdb-dataTable-head .sorting:before,
table thead.mdb-dataTable-head .sorting:after,
table thead.mdb-dataTable-head .sorting_asc:before,
table thead.mdb-dataTable-head .sorting_asc:after,
table thead.mdb-dataTable-head .sorting_desc:before,
table thead.mdb-dataTable-head .sorting_desc:after,
table thead.mdb-dataTable-head .sorting_asc_disabled:before,
table thead.mdb-dataTable-head .sorting_asc_disabled:after,
table thead.mdb-dataTable-head .sorting_desc_disabled:before,
table thead.mdb-dataTable-head .sorting_desc_disabled:after {
  bottom: 4px !important;
}
.aboutbanner {
  margin-top: 85px;
  background: url("../src/images/about-bg.png") no-repeat center top;
  background-size: cover;
  height: 350px;
  display: flex;
  align-items: center;
}
.banner-title h1 {
  color: #fff;
  font-weight: 400;
  font-size: 40px;
}
.banner-title h1 {
  color: #fff;
  font-weight: 400;
  font-size: 40px;
  text-transform: uppercase;
}

.breadcream {
  margin-top: -48px;
}

.breadcream .breadcrumb {
  margin-bottom: 0px;
  border-radius: 0px;
  background: transparent;
  padding-left: 0px;
  padding-right: 0px;
}

.breadcream li a {
  text-decoration: none;
}
.about-content {
  background: #1c1c1c;
  color: #fff;
}

.about-content h2 {
  font-weight: 400;
}
.abouttext p {
  line-height: 28px;
}

.contact-bg {
  background: url("../src/images/contact-bg.png") no-repeat center top;
  border-radius: 15px;
  background-size: cover;
  min-height: 645px;
}
.contact-bg {
  color: #111111;
}

.faq-toggle .card {
  background: transparent;
  border-radius: 0px;
  box-shadow: none;
  border: 0px;
}

.faq-toggle .card .card-header {
  padding-left: 0px;
  padding-right: 0px;
  background: transparent;
}
.faq-toggle .card .card-header a {
  display: block;
  text-decoration: none;
  cursor: pointer;
}

.faq-toggle .card .card-header {
  border-bottom: 1px solid #ccc;
  margin: 0;
}
.faq-toggle .card-body {
  background: #e100ff;
}

.contact-bg textarea {
  height: 150px;
}

.booking-header {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 13px #00000029;
  padding: 15px 0px;
}

.booking-header h1 {
  margin: 0px;
  text-align: center;
  position: relative;
  color: #e100ff;
  font-size: 28px;
  font-weight: 700;
}

.booking-header span {
  position: absolute;
  right: 0;
  cursor: pointer;
}
.active .bs-stepper-label {
  color: #e100ff;
}
.active .bs-stepper-circle {
  background-color: #e100ff !important;
}

.bs-stepper-label small {
  display: block;
  color: #6c757d;
}
.findbooking {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 30px #29263026;
  border-radius: 24px;
  padding: 25px;
}
.booking-title {
  font-size: 32px;
  font-weight: bold;
  color: #2c2738;
  border-bottom: 5px solid #e100ff;
  margin-bottom: 15px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.booking-title span {
  color: #707070;
  cursor: pointer;
}
.region li {
  display: block;
  padding: 5px 0px;
  border-bottom: 1px solid #707070;
  margin: 15px 0px;
  color: #707070;
  cursor: pointer;
}

.region li a {
  text-decoration: none;
  display: block;
  color: #707070;
}

.region li a:hover {
  color: #e100ff;
}

.gendertabs .nav-item .nav-link.active {
  background: #e100ff;
  text-align: center;
  border-color: #e100ff;
  color: #fff;
}

.gendertabs .nav-item .nav-link {
  color: #b4b4b4;
  border: 1px solid #b4b4b4;
  text-align: center;
  padding: 25px;
}

.gendertabs .nav-item .nav-link:hover {
  background: #e100ff;
  border-color: #e100ff;
  color: #fff;
}
.gendertabs .nav-item .nav-link p {
  margin-bottom: 5px;
  font-size: 32px;
}
.outbox button {
  border: 2px solid #b4b4b4;
  color: #b4b4b4;
  font-size: 18px;
  height: 120px;
}

.outbox .btn-outline-primary:hover {
  background: #e100ff;
  border-color: #e100ff;
}
.outbox .out-active {
  background: #e100ff;
  border-color: #e100ff;
  color: #fff;
}
.rangeslider-horizontal .rangeslider__handle:after {
  display: none;
}

.rangeslider__handle-label {
  text-align: center;
}

.rangeslider-horizontal .rangeslider__handle {
  line-height: 25px;
}
.rangeslider-horizontal .rangeslider__fill {
  background-color: #e100ff !important;
}
.rangeslider__handle-label {
  outline: none;
}

.rangeslider .rangeslider__handle {
  outline: none;
  background: #e100ff !important;
  color: #fff;
  box-shadow: none;
  border: 3px solid #fff !important;
}

.buttondiv button {
  border: 1px solid #ccc;
  border-radius: 3px;
}
.buttondiv button:hover {
  background: #e100ff;
  color: #fff;
}
.value-text {
  text-align: center;
  color: #e100ff;
  font-weight: bold;
}

.onlineuser ul {
  border-bottom: 1px solid #707070;
}

.onlineuser ul li {
  display: inline-block;
  padding-right: 15px;
  margin-bottom: -1px;
}

.onlineuser ul li a {
  padding: 10px 0px;
  display: block;
  border-bottom: 2px solid transparent;
  text-decoration: none;
  color: #b4b4b4;
  font-weight: 600;
}
.onlineuser ul li a img {
  margin-right: 5px;
  width: 20px;
}
.onlineuser ul li a.active img {
  filter: brightness(0.5) sepia(1) hue-rotate(-70deg) saturate(5);
}
.onlineuser ul li a:hover img {
  filter: brightness(0.5) sepia(1) hue-rotate(-70deg) saturate(5);
}

.onlineuser ul li.t-fillter {
  float: right;
  padding-right: 0px;
}

.user-filter {
  display: flex;
  align-items: center;
}

.e-fillter {
  display: flex;
  align-items: center;
  margin-right: 15px;
  color: #707070;
}

.e-fillter span {
  display: block;
  width: 110px;
}

.fillter-e i {
  margin-right: 6px;
}

.fillter-e {
  color: #e100ff;
  font-weight: 600;
}

.usertabs-t a.active {
  color: #dc49f0;
  border-bottom: 2px solid #dc49f0;
}
.usertabs-t a:hover {
  color: #dc49f0;
  border-bottom: 2px solid #dc49f0;
}
.online-user-text {
  padding: 15px;
  background: #171719;
  color: #b4b4b4;
}

.online-user-text h3 {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.online-user-text span a {
  margin: 0px 5px;
  display: inline-block;
  color: #ffffff;
}
.online-user-text span a:hover {
  color: #dc49f0;
}
.online-user-text span a.heart-user {
  color: #d50505;
}
.newb {
  color: #fff;
  text-align: right;
}
/* .ratinguser .dv-star-rating {
    float: right;
} */

.ratinguser span {
  cursor: pointer;
  display: block;
}
.pricebox {
  font-weight: bold;
  color: #fff;
}
.user-booknow {
  background: #3e3e3e;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-booknow a {
  color: #ffffff;
  border-radius: 5px;
  border: 1px solid #ffffff;
  display: block;
  padding: 7px 10px;
  text-decoration: none;
}
.user-booknow a:hover {
  background: #e100ff;
  color: #fff;
  border-color: #e100ff;
}
.s-online {
  position: relative;
  overflow: hidden;
}

.online-live {
  position: absolute;
  top: 15px;
  background: #171719;
  color: #ccc;
  padding: 5px 15px 5px 10px;
  left: 0px;
  border-radius: 0px 25px 25px 0px;
  cursor: pointer;
}

.online-live i {
  color: #08e400;
  font-size: 14px;
}
.verified {
  position: absolute;
  top: 28px;
  right: -46px;
  background: #e100ff;
  color: #fff;
  transform: rotate(56deg);
  padding: 0px 44px;
  cursor: pointer;
}

.verified:hover {
  background: #e261f4;
}
.send-report.modal-header {
  justify-content: center;
  color: #e100ff;
  text-transform: uppercase;
}
.modal-center .modal-dialog {
  justify-content: center;
  height: 90%;
  display: flex;
  align-items: center;
}
.modal-center textarea.form-control {
  height: 180px;
  resize: none;
}
.s-online img {
  width: 100%;
}
.view-title h2 {
  margin: 0px;
  padding: 15px 0px;
  border-bottom: 3px solid #e100ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #e100ff;
}

.view-title h2 span {
  font-weight: 500;
  color: #7d7d7d;
}

.view-gallery-left {
  position: relative;
}

.view-gallery-left img {
  width: 100%;
}

.seeAll {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 31%);
  text-align: center;
  color: #fff;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.shart-alt {
  text-align: center;
}

.shart-alt a {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 4px 8px #2c27380a;
  border: 3px solid #b4b4b4;
  border-radius: 6px;
  color: #dc49f0;
  font-weight: 600;
}

.shart-alt a i {
  margin-right: 5px;
}

.shart-alt a:hover,
.shart-alt a.active {
  color: #dc49f0;
  border-color: #dc49f0;
}
.citybox-view ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #e100ff;
  font-weight: 500;
  padding: 15px 0px 5px 0px;
  border-bottom: 1px solid #707070;
}

.citybox-view ul li span {
  color: #707070;
}

.citybox-view ul li span small {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #e100ff;
  border-radius: 3px;
  padding: 5px;
  margin: 0px 5px;
  display: inline-block;
}
.price-title {
  border-bottom: 3px solid #e100ff;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.price-title {
  border-bottom: 3px solid #e100ff;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

ul.tabsnow li {
  text-align: center;
}

ul.tabsnow li a.nav-link {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 4px 8px #2c27380a;
  border: 3px solid #b4b4b4;
  border-radius: 6px;
  color: #e100ff;
  font-size: 18px;
}

ul.tabsnow li a.nav-link.active,
ul.tabsnow li a.nav-link:hover {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 4px 8px #2c27380a;
  border: 3px solid #b4b4b4;
  border-radius: 6px;
  color: #fff;
  background: #e100ff;
  border-color: #e100ff;
}
table.information.table thead th {
  border-bottom: 3px solid #e100ff;
  color: #171719;
}
table.information.table td {
  color: #e100ff;
  font-weight: 600;
}

table.information.table td span {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #e100ff;
  border-radius: 3px;
  display: inline-block;
  font-weight: 400;
  padding: 3px 5px;
  cursor: pointer;
}
table.information.table td span.active {
  background: #e100ff;
  color: #fff;
}
table.information.table td span.selected:hover {
  background: #e100ff;
  color: #fff;
}
table.information.table {
  border-bottom: 1px solid #dee2e6;
}
table.information.table th {
  border-top: 0px;
}
.timebox ul li i {
  color: #b4b4b4;
}
.timebox.bookingslot ul li {
  margin-top: 15px;
}
.booking-detailsbox {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 9px 21px #2c27383d;
  border-radius: 24px;
}

.booking-detailsbox img {
  border-radius: 24px;
}
p.confirm {
  color: #707070;
}
.today {
  color: #e100ff;
  font-weight: 500;
  margin-bottom: 15px;
}

.screen__value {
  display: inline-block;
  position: relative;
}

.tpicker__apm {
  text-align: left;
  padding-top: 27px;
  float: right;
  font-size: 18px;
}

.tpicker__hhmm {
  margin-right: 25px;
  font-size: 5.25rem;
  line-height: 1.14286;
  font-weight: bold;
  color: #707070;
  display: inline-block;
}

.tpicker__apm small {
  display: block;
  font-weight: 600;
  color: #b4b4b4;
}

.tpicker__apm small.active {
  color: #e100ff;
}

a.login.dropdown-toggle {
  border-radius: 5px;
  border: 1px solid #fff;
  padding: 6px 15px;
  font-weight: 600;
  color: #fff;
  display: block;
  text-decoration: none;
  cursor: pointer;
}
.btn-primary.disabled, .btn-primary:disabled {
    background: #bc05d5;
    border-color: #bc05d5;
}
.footer-text h5 i{display:none;}
@media (max-width: 992px){
nav.navbar.navbar-expand-lg.navbar-light.bg-black.fixed-top {
    padding: 5px 15px;
}
.banner{min-height:295px;}	
.banner-text h1 {
   
    font-size: 16px;
    margin-bottom: 15px !important;
}
.banner-text a {
    padding: 5px 25px;
    font-size: 18px;
    line-height: 24px;
}
.banner-text a span {
   
    font-size: 16px;
    
}
.restomer p {
    font-size: 20px;
}
.reviews {
    font-size: 18px;
    
}

.avtar img {
    width: 70px;
    height: 70px;
}

.avatar-text h3 {
    font-size: 12px;
    margin-top: 0px !important;
}




.latest-review .slick-slider {
    padding-left: 25px;
    padding-right: 20px;
}

.latest-review .slick-prev, .fresh .slick-prev {
    left: -8px;
    bottom: auto;
    top: 50%;
    right: auto;
}

.latest-review .slick-next, .fresh .slick-next {
    right: -8px;
    bottom: auto;
    top: 50%;
    left: auto;
}
.latest-review .slick-slide .pr-5 {
    padding-right: 0px !important;
}
.navbar-light .navbar-toggler {
    border-color: rgb(255 255 255);
    background-color: white;
}
.bg-black {
    background: rgb(0 0 0 / 98%);
}
nav.navbar.navbar-light.bg-black .nav-link {
    
    margin: 0px 0px;
  
}
.how-it-box {
    padding: 20px 80px;
}
.how-it-box a {
    
    left: 10%;
    width:auto;
    padding: 0px 48px;
    right: 10%;
}
.how-it-box{margin-bottom:30px;}
.view-gallery-left img {
    height: auto;
}
.seeAllImage img {
    height: auto;
}
.view-title h2 {
    font-size: 18px;
}
.edit-personal {
    min-height: auto;
}

.profile-box h2 {
    font-size: 16px;
}
.onlineiuser label {
    font-size: 14px;
   
}
.form-control.gender-mobile {
    height: auto;
}

ul.gender li {
    display: block;
    padding: 5px 0px;
}
.nedbooking {
    text-align: left;
}



.btn-fem button {
    width: 100%;
   
}

.footer-text h5 {
    background: #000;
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
}

.footer-text h5 i{display:block;}
.footer-text {
    margin-bottom: 15px;
}
.footer-text ul li .nav-link {
    padding: 5px 15px;
}
p#alert-dialog-slide-description {
    min-width: auto !important;
}
}

